{{ define "main" }}
<div class="about-page">
  <div class="section-background">
    <img
      alt=""
      src="https://images.squarespace-cdn.com/content/v1/5f0df932fe24d51944633598/1603901726054-25HR4XI1A6GMEYVAGUMR/Ben-14.jpg"
    />
    <div class="section-background-overlay">
      <h2 style="white-space: pre-wrap" class="about-me-text">About Me</h2>
    </div>
  </div>

  <div class="blog-grid-wrapper container mx-auto px-4">
    <h3>Get to know me a little…</h3>
    <div class="blog-grids">
      <div class="grid-item">
        <div class="grid-img">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5f0df932fe24d51944633598/1602179478186-L1G1UR6AY0FHJHON6OZS/asdfsolo.jpg?format=750w"
            alt=""
          />
        </div>
        <div class="grid-content">
          <h4>I love travel</h4>
          <p>
            Whether I'm wandering through the bustling streets of a new city or
            taking in the quiet beauty of an unfamiliar landscape, I love making
            the most of every place I visit. From my first desert adventure to
            catching waves at the beach, I’m always excited to explore what’s
            different from my own surroundings. Travel fuels my curiosity and
            gives me a chance to dive into the best experiences a place has to
            offer.
          </p>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-img">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5f0df932fe24d51944633598/1602179478186-L1G1UR6AY0FHJHON6OZS/asdfsolo.jpg?format=750w"
            alt=""
          />
        </div>
        <div class="grid-content">
          <h4>I love to create</h4>
          <p>
            A few years ago, I began sewing, starting with simple projects and
            now creating full garments. The jacket in the picture above is one I
            quilted using materials I bought second-hand—pieces like this let me
            create something entirely unique. Sewing has become a way for me to
            relax and express myself, blending creativity with sustainability. I
            love repurposing materials, showing the potential of turning
            something old into something new, and making pieces I couldn’t find
            anywhere else. Just like research, sewing involves creativity and
            the satisfaction of building something original from the ground up.
          </p>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-img">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5f0df932fe24d51944633598/1602179478186-L1G1UR6AY0FHJHON6OZS/asdfsolo.jpg?format=750w"
            alt=""
          />
        </div>
        <div class="grid-content">
          <h4>Meet Nyla</h4>
          <p>
            my companion since the start of my PhD journey. She’s been with me
            through every high and low, and after a long day at the office,
            she’s always there to greet me. I love hearing about the special
            bonds others have with their pets, so feel free to share your
            stories with me!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
